---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <section class="space-y-2">
    <h1 class="font-medium text-2xl">About Us</h1>

    <p>
      “Control Your Future” is more than just a tagline for us. It perfectly
      aligns with our mission to empower our customers with the tools they need
      to take control of their risk management.
    </p>

    <p>
      We are the only platform that fosters collaboration across departments and
      drives risk automation with business context. As practitioners of data
      risk management, we recognized the need for a solution that truly
      understands the day-to-day challenges of users. This passion is what
      inspired the creation of Auditrol.
    </p>
  </section>

  <section class="space-y-2">
    <h2 class="text-xl font-medium">Our Story</h2>
    <p>
      Our founders, bringing together decades of expertise in product,
      engineering, and banking, recognized a critical challenge: banks were
      struggling to meet regulatory commitments while maintaining day-to-day
      operations. Drawing on their collective experience from successful startup
      exits, they decided to embark on the entrepreneurial journey once again.
    </p>
  </section>

  <section class="space-y-2">
    <h3 class="text-xl font-medium">Our Culture</h3>
    <p>
      Innovation drives our approach when focusing on customers. We see
      challenges as growth opportunities, transforming ideas into products
      through excellent execution. Our ethos centers on transparency and mutual
      respect.
    </p>
  </section>
</Layout>
