---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";
const currentPath = Astro.url.pathname;

const NAVIGATION_LINKS = [
  { href: "/", label: "Home" },
  { href: "/about", label: "About" },
  { href: "/blog", label: "Blog" },
];
---

<header>
  <nav class="py-4 flex items-center justify-between">
    <Image
      width="40"
      height="40"
      quality="high"
      src={logo}
      alt="Auditrol logo"
    />

    <ul class="flex items-center gap-4">
      {
        NAVIGATION_LINKS.map((link) => (
          <li>
            <a
              class={`${currentPath === link.href ? "font-medium" : "font-normal text-slate-500"}`}
              href={link.href}
              data-astro-prefetch
            >
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
    <a href="#" class="underline text-sm text-blue-600">Request a Demo</a>
  </nav>
</header>
