<header>
  <nav class="my-2">
    <ul class="flex items-center gap-2">
      <li><a class="font-medium" href="/">Home</a></li>
      <li><a class="font-medium" href="/about">About</a></li>
      <li><a class="font-medium" href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>
